include MANIFEST.in
include COPYING
include g2clib.pyx
include g2clib.c
include redtoreg.pyx
include redtoreg.c
include setup.cfg.template
include setup.py
include README.md
recursive-include grib2io *
recursive-include docs *
include sampledata/*.grb
include sampledata/*.grb2
include sampledata/*.grib*
include sampledata/*.bin
recursive-include NCEPLIBS-g2c *
recursive-include make_grib2_tables *
include tests/README
include tests/*py
