include MANIFEST.in
include COPYING
include g2clib.pyx
include g2clib.c
include redtoreg.pyx
include redtoreg.c
include grib2io.py
include setup.cfg.template
include setup.py
include README.md
recursive-include docs *
include sampledata/*.grb
include sampledata/*.grb2
include sampledata/*.grib*
include sampledata/*.bin
recursive-include g2clib_src *
include test/README
include test/*py
