include MANIFEST.in
include setup.py
include pyproject.toml
include README.md
include LICENSE
include VERSION
include create_docs.sh
include requirements.txt
graft docs
graft src/ext
graft src/grib2io
graft tests
global-exclude *.py[cod] *.c *.so
